{% extends "base.html" %}
{% load static %}


{% block content %}
 <!-- Pre Loader -->
 <aside id="preloader">
    <figure id="loader">
        <img src="{% static 'images/preloader.gif' %}" alt="Loader">
    </figure>
</aside>
<div class="box">
    <div class="row m-0">
        <div class="col-12 small-device-flex col-md-4 text-center order-2 order-md-1">
            <div class="row nav-columns">
                <div class="col my-auto">
                    <h1>
                        <a href="{% url 'latest_drop'%}" class="nav-link home-link text-gray black-hover">New Drops</a>
                    </h1>
                </div>
            </div>
            <div class="row nav-columns">
                <div class="col my-auto">
                    <h1>
                        <a class="nav-link home-link text-gray black-hover" href="{% url 'products' %}">All Clothing</a>
                    </h1>
                </div>
            </div>
            <div class="row nav-columns">
                <div class="col my-auto">
                    <h1>
                        <a class="nav-link home-link black-hover text-gray" href="{% url 'contact' %}">Contact Us</a>
                    </h1>
                </div>
            </div>
        
        </div>
        <div class="col-12 col-md-8 order-1 order-md-2 p-0">
            <img src="{% static 'images/home-img.png' %}" id="home-img-size" alt="home-page">
        </div>
        <div class="vertical"></div>
    </div>
    <form class="m-5 text-center" action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <h2>Sign Up for weekly newsletter</h2>
        {{ form.as_p }}
        <button class="btn btn-newsletter" name="submit" type="submit" id="home-submit">Submit</button>
    </form>
</div>

<script src="{% static 'js/script.js' %}"></script>


{% endblock %}




