{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid h-100 bg-light">
        <div class="row h-100">
            <div class="col-4 text-center ">
                <div class="row nav-columns ">
                    <div class="col my-auto">
                        <h1 class="text-gray">New Drops</h1>
                    </div>
                </div>
                <div class="row nav-columns">
                    <div class="col my-auto">
                        <h1 class="text-gray">All Clothing</h1>
                    </div>
                </div>
                <div class="row nav-columns">
                    <div class="col my-auto">
                        <h1 class="text-gray">Contact Us</h1>
                    </div>
                </div>
            
            </div>
            <div class = "vertical"></div>
            <div class="col-8">
                <div class="d-flex">
                <div class="image-overlay"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}