html {
    height: 100%;
}

body {
    /* background: rgb(249, 245, 245); */
    background-color: rgb(236, 150, 51);
    color: black;
    height: calc(100vh - 148px);
    font-size: 20px;
}

.tm-symbol {
    font-size: 20px;
}


.text-gray {
    color: gray !important;
}

.vertical {
    border-left: 2px solid gray;
    height: 200px;
    position:absolute;
    left: 33%;
    height: calc(100vh - 210px);
    
    /* bottom: 50%; */
  }

.nav-columns {
    width: 100%;
    height: 30%;
}

.image-overlay {
    background: url('/media/image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 248px);
    width: 100%;
    margin: 30px;

}

.home-title {
    color: white !important;
    font-size: 140px;
}

a {
    color:rgb(236, 150, 51)
}

.bg-topnav{
    background-color: rgb(244, 222, 197);
}

.fa-user {
    color: black;
}

.mybag-text {
    white-space: nowrap;
    overflow: hidden;
}

/* a {
    color: black;
} */



/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}