@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: black;
    height: calc(100vh - 148px);
    font-size: 20px;
}


.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.btn-newsletter {
    border: 1px solid black;
}
.btn-newsletter:hover {
    color: white;
    background: #000;
}

.navbar {
    min-height: 101px;
}

html {
    height: 100%;
}

/* PRELOADER */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #f4dec5;
    background-color: #000;
    transition: opacity 1s ease-in-out;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    padding: 0px;
}

.page-container {
    flex: 1 0 auto;
}

.footer {
    position: relative;
    width: 100%;
    height: 2.5rem;
    flex-shrink: 0;
}

#home-img-size {
    max-height: 534px;
    min-height: 534px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


.black-hover:hover {
    color: black;
}

.bold {
    font-weight: 600 !important;
}

.ivory-size {
    font-size: 80px;
}

.position {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    align-items: center;
}

.r-hover {
    text-decoration: none !important;
}

.r-hover:hover {
    color: gray !important;
    text-decoration: none !important;
}

a {
    color: black;
}

.dropdown-menu {
    top: 70%;
    left: 60px;
}

.menu-border {
    border: 2.5px black solid;
    border-radius: 50%;
    padding: 8px 10px;
    background-color: #fff;
}

button {
    border: none;
    background-color: #F3DEC5;
    cursor: none;
}

.tm-symbol {
    font-size: 20px;
}

.home-link {
    font-size: 50px;
}

select, select option {
    color: #000000;
}
input[name='value']::placeholder {
    color: #aab7c4;
}
select:invalid, select option[value=''] {
    color: #aab7c4 !important;
}

.text-gray {
    color: gray;
}

.vertical {
    border-left: 2px solid gray;
    max-height: 535px;
    position:absolute;
    left: 30%;
    height: calc(100vh - 153px);    
  }

.nav-columns {
    width: 100%;
    height: 30%;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}


.copyright {
  text-align: center;
}

.home-title {
    color: black !important;
    font-size: 100px;
    display: flex;
}

.topnav {
    height: 120px;
    width: 100%;
}

.bg-topnav{
    background-color: white;
}

.fa-user {
    color: black;
}

.mybag-text {
    white-space: nowrap;
    overflow: hidden;
}

/* Products Page */

/* cursor for quantity input */

.default {
    cursor: default;
}

/* Removes input inner text button for Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

/* Removes input inner text button for Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

.products-border {
    border: 2px solid black;
}

.product-home-btn:hover {
    color: gray;
}

.img-height {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.img-height-detail {
    height: 500px;
    width: 600px;
    object-fit: cover;
}

.img-container {
    height: 300px;
    width: 300px
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.review-border {
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #989a9b;
    
}

.gold {
    color: gold;
}

.btn-width {
    width: 100px;
}

/* Label css */
label {
    padding: 0px;
}

.wrap-form {
    flex-direction: column;
    flex-wrap: wrap;
}

/* Contact Page */


.contact-img {
    margin: 150px 0;
    object-fit: cover;
    max-height: 578px;
    min-height: 578px;
    width: 100%;
}


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #fff;
  border: 1px solid black;
  color: black;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: black;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 130px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

small {
    cursor: pointer;
}


label {
  position: relative;
  display: inline-block;
  padding: 5px 12px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 0;
}
label::after {
  content: '';
  display: block;
  height: 2px;
  width: 80%;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

label input {
  -webkit-transition: width 1s ease, opacity 0.5s ease 0.5s;
  transition: width 1s ease, opacity 0.5s ease 0.5s;
  opacity: 1;
  width: 180px;
  height: 25px;
  border: 0;
  outline: none;
}

label i {
  position: absolute;
  top: 11px;
  right: 11px;
  color: #333;
  cursor: pointer;
}
label[data-state="close"] {
  border-radius: 30px;
  padding: 5px 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
label[data-state="close"]::after {
  width: 0%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
label[data-state="close"] i {
  pointer-events: none;
}
label[data-state="close"] input {
  width: 28px;
  height: 25px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease, width 1s ease;
  transition: opacity 0.5s ease, width 1s ease;
  -webkit-appearance: none;
}

/* Product Form */


.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
    
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* Allauth form formatting */
  
  .allauth-form-inner-content p {
      margin-top: 1.5rem; /* mt-4 */
      color: #6c757d; /* text-secondary */
  }
  
  .allauth-form-inner-content input {
      border-color: #000;
      border-radius: 0;
  }
  
  .allauth-form-inner-content label:not([for='id_remember']) {
      display: none;
  }
  
  .allauth-form-inner-content input::placeholder {
      color: #aab7c4;
  }
  
  .allauth-form-inner-content button,
  .allauth-form-inner-content input[type='submit'] {
      /* btn */
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #000;
      border: 1px solid #000;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0;
  
      /* standard bootstrap btn transitions */
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .allauth-form-inner-content button:hover,
  .allauth-form-inner-content input[type='submit']:hover {	
      color: #fff;
      background-color: #222;
      border-color: #222;
  }
  
  .allauth-form-inner-content a {
      color: #17a2b8; /* text-info */
  }


  @media (max-width: 991px) {
    /* fixed top navbar only on medium and up */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .nav-link {
        padding: 0.1rem;
        font-size: 22px;
    }

    .logo-font {
        font-size: 45px;
    }

    .nav-link i.fa-lg {
        font-size: 1.3rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
  }

  @media (max-width: 767px) {
    .vertical {
        display: none;
    }
    
    #home-img-size {
        height: 50%;
    }

    .small-device-flex {
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }

    .navbar-text {
        font-size: 18px;
    }

    .footer h2 {
        font-size: 25px;
    }
  }

  @media (max-width: 767px) {
    .contact-img-col {
        display: none;
    }
  }

@media (max-width: 550px) {
    .nav-link {
        padding: 0.1rem;
        font-size: 20px;
    }
   
    .logo-font {
        font-size: 35px;
    }

    .small-device-flex {
        margin: 70px 0px;
    }

    .text-black {
        font-size: 15px;
    }

    .center {
        text-align: center;
    }
    
}


@media (max-width: 400px) {
    .nav-link {
        font-size: 20px;
    }
   
    .logo-font {
        font-size: 25px;
    }
}


@media (max-width: 365px) {
    .wrap-items {
        flex-direction: column;
        gap: 10px;
    }
}
