<div class="row m-0 d-none d-lg-flex topnav bg-topnav">
    <div class="col-4 col-lg-4 p-0 my-auto justify-content-center d-flex">
            <div class="d-flex">
                <div class="d-flex p-2">
                    <a class="text-black nav-link d-block d-flex" href="#" id="nav-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user fa-lg my-auto mx-2"></i>
                        <p class="my-0">My Account</p>
                    </a>
                  
                    <div class="dropdown-menu border-0" aria-labelledby="nav-menu">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
    </div>
    <div class="col-4 col-lg-4 my-auto py-1 py-lg-0">
        <a href="{% url 'home' %}" class="nav-link text-white text-center ivory-size">
            <h1 class="ivory-size">IVORY</h1>
        </a>
    </div>
    <div class="col-4 col-lg-4 my-auto py-1 py-lg-0 d-flex justify-content-center">                                             
        <div class="d-flex my-auto">
            <a class="{% if grand_total %}font-weight-bold{% else %}text-black{% endif %} black-hover nav-link p-0 d-flex" href="{% url 'view_bag' %}">
                <i class="fas fa-shopping-bag fa-lg my-auto mx-2"></i>
                <p class="my-0 mybag-text">My Bag</p>
                <p class="mx-2 d-blockk my-auto">
                    {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                    {% else %}
                        £0.00
                    {% endif %}
                </p>
            </a>
        </div>
    </div>
</div>

<div class="row bg-white mx-auto">
    <nav class="navbar d-lg-none navbar-expand-lg bg-topnav w-100">
        <div class="col-4 d-flex justify-content-between p-0">
            <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars menu-border"></i>
            </button>
            <a class="text-black nav-link my-auto d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <i class="fas fa-user fa-lg d-sm-block d-none fa-lg"></i>
                    <p class="my-0 navbar-text">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </div>

        {% include 'includes/mobile-top-header.html' %}
        {% include 'includes/main-nav.html' %}

    </nav>
</div>
<div id="delivery-banner" class="row text-center d-lg-flex d-none m-0">
    <div class="col mx-0 px-0 bg-black text-white">
        <h4 class="logo-font text-white m-0 bg-topnav">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>                
    </div>            
</div>

