<ul class="my-auto">
    <li class="list-inline-item">
    
        <a href="{% url 'home' %}" class="nav-link title-color">
            <h2 class="logo-font  home-title text-center my-auto">IVORY <span class="tm-symbol">&trade;</span></h2>
        </a>
    </li>
</ul>
<ul class="my-auto">
    <li class="list-inline-item dropdown">
        <div class="d-flex">
            <a class="{% if grand_total %}font-weight-bold{% else %}text-black{% endif %} text-black nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </div>
    </li>
</ul>

