{% extends "base.html" %}
{% load static %}


{% block content %}
   
    <div class="row">
        <div class="col-12 small-device-flex col-md-4 text-center order-2 order-md-1">
            <div class="row nav-columns">
                <div class="col my-auto">
                    <h1 class="nav-link home-link text-gray">The Page your looking for does not exist</h1>
                </div>
            </div>
            <div class="row nav-columns">
                <div class="col my-auto">
                    <h1>
                        <a href="{% home %}" class="nav-link home-link text-gray black-hover">Return to the home page</a>
                    </h1>
                </div>
            </div>
           
        
        </div>
        <div class="col-12 col-md-8 order-1 order-md-2">
            <div class="d-flex">
                <img src="{% static 'images/home-img.png' %}" id="home-img-size" alt="home-page">
            </div>
        </div>
        <div class="vertical"></div>
    </div>
{% endblock %}


 