{% extends "base.html" %}
{% load static %}

{% block content %}
   
    <div class="container h-100 bg-light">
        <div class="row mx-auto">
            <div class="col">
                <form method="POST">
                    <h2 class="text-uppercase text-center mb-3"><strong>Contact Us</strong></h2>
                    <p class="mb-3 text-center">Please fill in the details to contact us</p>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn" type="submit" value="Submit">
                  </form>
            </div>
        </div>
    </div>


    
{% endblock %}



 