{% extends "base.html" %}
{% load static %}

{% block content %}
   
    <!-- <div class="container h-100 bg-light">
        <div class="row mx-auto">
            <div class="col">
                <form method="POST">
                    <h2 class="text-uppercase text-center mb-3"><strong>Contact Us</strong></h2>
                    <p class="mb-3 text-center">Please fill in the details to contact us</p>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn" type="submit" value="Submit">
                  </form>
            </div>
        </div>
    </div> -->

    <!-- Contact page -->
<!-- <section class="light-bg">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container my-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body my-5 card-bg">
                <form method="POST">
                  <h2 class="text-uppercase text-center mb-3 red-c"><strong>Contact Us</strong></h2>
                  <p class="mb-3 text-center red-c">Please fill in the details to contact us</p>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input class="btn btn-red" type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <div class="container">  
    <form id="contact" action="{% url 'contact' %}" method="POST">
      {% csrf_token %}
      <h3>Contact Us</h3>
      <h4>Please fill in the details below</h4>
      {{ form.as_p }}
      <!-- <fieldset>
        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3">
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
      </fieldset> -->
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>
    
{% endblock %}



 