{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Image, Price, Rating, Quantity, Size, Buttons -->
        <div class="col-12 col-md-8 my-5">
            <a href="{{ product.image.url }}" target="_blank">
                <img class="card-img-top img-height-detail img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
        </div>
        <div class="col-12 col-md-4 px-3">
            <h2 class="mb-0">{{ product.name }}</h2>
            <p class="lead font-weight-bold">£{{ product.price }}</p>
            {% if product.category %}
            <p class="small mt-1 mb-0">
                <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                </a>
            </p>
            {% endif %}
            {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
            {% else %}
                <small class="text-muted">No Rating</small>
            {% endif %}
            {% if user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
         
            {% endif %}
            <p class="mt-3">{{ product.description }}</p>
            <!-- Quantity and size form -->
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    {% with product.has_sizes as s %}
                    {% if s %}
                        <div class="col-12">
                            <!-- Size Button -->
                            <p><strong>Size:</strong></p>
                            <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" >M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <!-- Quantity button -->
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group input-group-{{ product.id }}">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                        data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                        data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col{% if s %}-12 mt-2{% endif %}">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    {% endwith %}
                </div>
            </form>            
        </div>
    </div>
    <div class="container-fluid content-item">   
    	<div class="row">
            <div class="col-sm-8">   
                {% if request.user.is_authenticated %}
                <!-- Form to add review -->
                <form method="post" style="margin-top: 1.3em;">
                	<h3 class="pull-left">New Review</h3>
                        <div class="wrap-form d-flex">
                            {% csrf_token %}
                            <div class="d-flex">
                                <label for="stars" class="m-0 px-1 my-auto">Stars</label>
                                <i class="fa fa-star gold my-auto"></i>
                            </div>
                            
                            <select class="form-select w-25" name="stars" id="stars" selected="3">
                                <option value="1">1</option>
                                <option value="2">2</i></option>
                                <option value="3" selected >3</option>
                                <option value="4">4</option>
                                <option value="5">5</i></option>
                            </select>
                            <label for="content" class="mt-3">Review</label>
                            <textarea class="form-control mt-2 mb-3" name="body" id="body" cols="30" rows="5"></textarea>
                            <button type="submit"
                                class="btn review-btn border-dark bd-highlight text-black btn-clear w-20">Submit</button>
                        </div>  	
                </form>
                {% endif %}
                
                <h3>{{ product.reviews.all|length }} Reviews</h3>

                {% for review in product.reviews.all %}
                    <!-- REVIEW DISPLAYED - START -->
                <div class="media">
                    <div class="media-body review-border">
                        <p><b>Username: </b> {{ user.username }}</p>
                        <p>{{ review.stars }}<i class="fa-solid fa-star gold mx-1"></i></p>
                        <hr>
                        {{ review.body }} 
                        <hr>
                        <b>Date Added: </b> {{ review.date_added }}
                        {% if request.user.is_superuser %}
                            <a class="text-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                        {% endif %}
                    </div>
                    
                </div>
                <!-- REVIEW DISPLAYED - END -->
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $(document).ready( function() {

        // Change quntity button number to 0 every time a user changes the size
        $('select#id_product_size').change(function() {
        $('.qty_input').val(1);
        if (size) {
                $(`.increment-size_${itemId}_${size}`).removeAttr("disabled");
            } else {
                $(`.increment-qty_${itemId}`).removeAttr("disabled");
            }
        });

        var xs_stock = "{{ product.xs_stock }}";
        if (xs_stock == 0) {
            $(('select#id_product_size option[value="xs"]')).prop("disabled",true);
        }

        var s_stock = "{{ product.s_stock }}";
        if (s_stock == 0) {
            $(('select#id_product_size option[value="s"]')).prop("disabled",true);
        }

        var m_stock = "{{ product.m_stock }}";
        if (m_stock == 0) {
            $(('select#id_product_size option[value="m"]')).prop("disabled",true);
        }

        var l_stock = "{{ product.l_stock }}";
        if (l_stock == 0) {
            $(('select#id_product_size option[value="l"]')).prop("disabled",true);
        }

        var xl_stock = "{{ product.xl_stock }}";
        if (xl_stock == 0) {
            $(('select#id_product_size option[value="xl"]')).prop("disabled",true);
                }
        });

</script>

{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}